Flask==2.2.2
PyYAML==6.0
python-dateutil~=2.8.1
gpuinfo~=1.0.0a7
git+https://github.com/valkjsaaa/bilibili_api.git@a0ed796b1aacca306be5736920c298f4986b1aaa
git+https://github.com/qdddz/danmaku_tools.git
Quart==0.18.3
srt==3.5.2
chardet==5.1.0
requests==2.28.1
rsa==4.9
toml~=0.10.2
urllib3==1.26.13
pillow==9.3.0
tqdm~=4.53.0
textrank4zh~=0.3
scipy==1.9.0
numpy~=1.23.4
matplotlib==3.6.2
requests~=2.28.1